:root {
  --primary-color: #b980f0;
  --secondary-color: #f5e79d;
  --border-color: #fe9898;
  --background-color: rgba(229, 251, 184, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("./bithdayBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  height: 100vh;
}

.container {
  max-width: 550px;
  height: 100vh;
  display: grid;
  place-items: center;
  margin: auto;
  padding: 1rem;
}
.card {
  width: 100%;
  background: var(--background-color);
  border-radius: 1rem;
  box-shadow: 10px 10px 25px var(--secondary-color);
  border: 3px dashed var(--border-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.card-header {
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  padding: 0.75rem 0;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.card-body {
  padding: 1rem;
}
.input-group {
  padding: 1rem 0.5rem;
}
label {
  display: block;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.25rem;
}
input {
  width: 100%;
  font-size: 1.1rem;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  outline: none;
  margin: 0.5rem 0;
  border: 2px solid var(--border-color);
}
input[type="text"] {
  padding: 0.35rem 0.75rem;
}
.btn {
  display: block;
  margin: auto;
  font-size: 1rem;
  padding: 0.45rem 1.5rem;
  border-radius: 1rem;
  background: none;
  border: 2px solid var(--border-color);
  font-weight: bolder;
}
.btn:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
